<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/styles/global.css" type="text/css" />
    <link rel="stylesheet" href="/styles/pages/home.css" type="text/css" />

    <title>Home</title>
  </head>
  <body>
    <div data-id="app">
      <main class="main" data-id="main">
        <div class="home">
          <h2
            class="home__title"
            title="Faça parte da nossa comunidade e aproveite todos os beneficíos da
        plataforma.">
            <span class="home__title-actives"
              ><%= data?.totalCount ?? 0 %> usuários ativos</span
            >

            Faça parte da nossa <br />
            comunidade e aproveite todos os beneficíos da plataforma.
          </h2>

          <div class="action" data-id="action">
            <a href="/sign-in" class="action__login">Entrar na plataforma</a>

            <a href="/sign-up" class="action__register"
              >Não possui cadastro? Registre-se agora!</a
            >
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
