[data-id='app'] {
  padding: 0;
}

.header {
  --_header-height: 8.2rem;

  width: 100%;
  height: var(--_header-height);

  padding: 0 2.8rem;
  background-color: var(--color-dark-secondary);

  display: flex;

  align-items: center;
  justify-content: flex-end;

  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header__logout {
  --_button-width: auto;
  --_button-height: auto;

  --_button-padding-top: 1.2rem;
  --_button-padding-bottom: 1.2rem;

  --_button-padding-left: 1.8rem;
  --_button-padding-right: 1.8rem;

  --_button-radius: 0.3rem;
}

.profile {
  overflow: hidden;

  width: 90%;
  max-width: 72rem;

  background-color: var(--color-dark-secondary);
  /* padding: 4.2rem; */

  margin-top: 4rem;
  margin-inline: auto;

  border-radius: 0.4rem;
}

.profile__header {
  padding: 2.8rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.profile__avatar {
  --_avatar-sizes: 18rem;
  --_avatar_radius: calc(var(--_avatar-sizes) / 2);

  position: relative;
  overflow: hidden;

  width: var(--_avatar-sizes);
  height: var(--_avatar-sizes);

  border: 2px solid transparent;

  border-radius: var(--_avatar_radius); /*  50% */

  transition: border 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.profile__avatar:hover {
  border-color: var(--color-primary-dark);
}

.profile__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.profile__username {
  margin-top: 2.2rem;

  font-size: 2.8rem;
  font-weight: 700;

  line-height: 1;
  color: var(--color-text);

  text-align: center;
}

.profile__creation {
  display: block;

  padding: 2.8rem 0;

  border-top: 1px solid var(--color-gray);

  font-size: 1.6rem;
  line-height: 1.4;

  color: var(--color-text-dark);
  text-align: center;
}

.account_id {
  display: block;
  margin-top: 2.8rem;

  font-size: 1.3rem;
  font-weight: 400;

  color: var(--color-text-dark);
  line-height: 1.4;

  text-align: center;

  opacity: 0.4;
}
