[data-id='app'] {
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
}

@keyframes Showing {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar {
  flex: 1;

  width: 100%;
  max-width: 24rem;

  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 4rem 0;
  padding: 2.8rem;

  border-radius: 0 0.8rem 0.8rem 0;

  background-color: var(--color-dark-secondary);
  border: 1px solid var(--color-gray);

  transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: Showing 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sidebar-profile {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.sidebar-profile__avatar {
  position: relative;

  overflow: hidden;

  width: 12.8rem;
  height: 12.8rem;

  border-radius: 50%;
  padding: 4px;

  border: 2px solid var(--color-primary);

  background-color: var(--color-dark);

  object-fit: cover;
  object-position: center;

  transition: border-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar-profile__avatar:hover {
  border-color: var(--color-primary-dark);
}

.sidebar-profile__avatar img {
  /* position: absolute; */
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.sidebar-profile__name {
  margin-top: 2.4rem;

  font-weight: 600;
  font-size: 2.2rem;
  color: var(--color-text);

  line-height: 1.4;
}

.sidebar-profile__membership {
  margin-top: 0.8rem;

  font-size: 1.3rem;
  font-weight: 400;

  line-height: 1;
  color: var(--color-text-dark);
  opacity: 0.6;
}

.sidebar-menu__links {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.sidebar-menu_link--logout {
  margin-top: 3rem;
}

.sidebar-menu_link--logout .sidebar-menu__anchor {
  color: var(--color-red);
  font-size: 1.8rem;
}

.sidebar-menu_link--logout .sidebar-menu__anchor:hover {
  background-color: var(--color-red-transparent);
  color: var(--color-text);

  opacity: 1;

  text-decoration: none;
}

.sidebar-menu__anchor {
  user-select: none;

  display: flex;
  align-items: center;

  padding: 1rem 2rem;
  border-radius: 0.4rem;

  gap: 0.5rem;

  font-size: 1.5rem;
  font-weight: 400;

  color: var(--color-text);

  opacity: 0.7;

  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.sidebar-menu__anchor:hover {
  text-decoration: underline;
}

.content {
  flex: 1;

  text-align: center;

  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-id {
  font-size: 1.8rem;

  font-weight: 600;
  color: var(--color-gray);
}
