.main {
  flex: 1;

  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
  max-width: 98rem;
}

.home__title {
  max-width: 86rem;
  margin-bottom: 4rem;

  font-size: 6.2rem;
  font-weight: 700;

  line-height: 1.2;

  color: var(--color-text-dark);
  /* text-align: center; */
}

.home__title-actives {
  display: block;
  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  font-weight: 500;

  color: var(--color-text-very-dark);

  text-transform: uppercase;
}

.action__login {
  display: block;

  width: 26.8rem;
  height: 6.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2rem;

  border-radius: 0.4rem;

  color: var(--color-text);

  font-size: 1.8rem;
  font-weight: 500;

  background-color: var(--color-primary);

  border-bottom: 6px solid var(--color-primary-dark);

  transition: border 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

.action__login:hover {
  border-color: var(--color-primary);
}

.action__register {
  font-size: 1.6rem;
  font-weight: 400;

  color: var(--color-text-very-dark);
  line-height: 1.4;
}

.action__register:hover {
  text-decoration: underline;
}
