<!doctype html>
<html lang="pt-br" translate="yes">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/global.css" type="text/css" />

    <link rel="stylesheet" href="/styles/components/spinner.css" />
    <link rel="stylesheet" href="/styles/components/toast.css" />

    <link rel="stylesheet" href="/styles/form.css" type="text/css" />

    <script type="module" src="/scripts/forgot.js"></script>

    <title>Esqueci minha senha</title>
  </head>
  <body>
    <div class="app" data-id="app">
      <div class="container" data-id="container">
        <form method="POST" class="form form--transparent" data-id="form">
          <fieldset class="form_fieldset">
            <legend class="form__title">Esqueci minha senha</legend>

            <div class="form__group form__group--secondary">
              <label for="email" class="sr-only">Endereço de e-mail</label>
              <input
                id="email"
                type="email"
                name="email"
                required
                minlength="8"
                autocomplete="off"
                placeholder="Endereço de e-mail cadastrado"
              />

              <img
                src="/icons/email.svg"
                title="Email icon"
                alt="Email svg icon"
              />
            </div>

            <button type="submit" class="form__button">
              <span class="form__button-text">Recuperar minha senha</span>

              <div class="spinner" data-id="spinner"></div>
            </button>

            <a href="/sign-in" class="form__sign-up back">
              <img
                src="/icons/arrow-left.svg"
                alt="Arrow left"
                title="Página enterior"
              />

              Voltar para fazer login
            </a>
          </fieldset>
        </form>
      </div>
    </div>

    <%- include('../components/toast.ejs') %>
  </body>
</html>
