<!doctype html>
<html lang="pt-br" translate="yes">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/global.css" type="text/css" />

    <link rel="stylesheet" href="/styles/components/spinner.css" />

    <link rel="stylesheet" href="/styles/form.css" type="text/css" />

    <title>Recuperação de conta</title>
  </head>
  <body>
    <div class="app" data-id="app">
      <div class="container" data-id="container">
        <form method="POST" class="form" data-id="form">
          <fieldset class="form_fieldset">
            <legend class="form__title">Recuperação</legend>

            <div class="form__group">
              <label for="password" class="sr-only">Nova senha</label>
              <input
                id="password"
                type="password"
                name="password"
                required
                minlength="8"
                autocomplete="hidden"
                placeholder="Nova senha"
              />

              <img
                src="/icons/lock.svg"
                title="Password icon"
                alt="Password svg icon"
              />
            </div>

            <div class="form__group">
              <label for="repeatPassword" class="sr-only"
                >Nova senha (confirmação de senha)</label
              >
              <input
                id="repeatPassword"
                type="password"
                name="repeatPassword"
                required
                minlength="8"
                autocomplete="hidden"
                placeholder="Nova senha (confirmação)"
              />

              <img
                src="/icons/lock.svg"
                title="Password icon"
                alt="Password svg icon"
              />
            </div>

            <button type="submit" class="form__button">
              <span class="form__button-text">Enviar</span>

              <div class="spinner" data-id="spinner"></div>
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
