<!doctype html>
<html lang="pt-BR" translate="yes">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/global.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/styles/components/buttons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/styles/components/modal.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="/styles/components/spinner.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/styles/form.css" type="text/css" />

    <script defer type="text/javascript" src="/scripts/sign-up.js"></script>

    <title>Faça seu cadastro</title>
  </head>
  <body data-id="body">
    <div class="app" data-id="app">
      <div class="container">
        <form method="POST" class="form" data-id="form">
          <fieldset class="form_fieldset">
            <legend class="form__title">Cadastre-se</legend>

            <div class="form__group">
              <label for="name" class="sr-only">Nome completo</label>
              <input
                id="name"
                type="text"
                name="name"
                required
                minlength="5"
                autocomplete="hidden"
                placeholder="Nome completo"
              />

              <img
                src="/icons/person.svg"
                title="Person icon"
                alt="Person svg icon"
              />
            </div>

            <div class="form__group">
              <label for="email" class="sr-only">Endereço de e-mail</label>
              <input
                id="email"
                type="email"
                name="email"
                required
                minlength="8"
                autocomplete="hidden"
                placeholder="Endereço de e-mail"
              />

              <img
                src="/icons/email.svg"
                title="Email icon"
                alt="Email svg icon"
              />
            </div>

            <div class="form__group">
              <label for="password" class="sr-only">Senha</label>
              <input
                id="password"
                type="password"
                name="password"
                required
                minlength="6"
                maxlength="32"
                placeholder="Senha"
              />

              <img
                src="/icons/lock.svg"
                title="Lock icon"
                alt="Lock svg icon"
              />
            </div>

            <a href="/forgot-password" class="form__forgot"
              >Esqueci minha senha</a
            >

            <button type="submit" class="form__button">
              <span class="form__button-text">Cadastrar</span>

              <div class="spinner" data-id="spinner"></div>
            </button>

            <a href="/sign-in" class="form__sign-up"
              >Possui uma conta? Faça login</a
            >
          </fieldset>
        </form>
      </div>

      <%- include('../components/sucess-modal.ejs') %>
    </div>
  </body>
</html>
