.container {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

@keyframes Down {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.form {
  overflow: hidden;

  width: 100%;
  max-width: 48rem;

  display: flex;
  flex-direction: column;

  padding: 8.4rem 6rem;

  background-color: var(--color-dark-secondary);

  border-radius: 0.4rem;

  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  animation: Down 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.form.form--transparent {
  background-color: transparent;
}

.form__title {
  margin-bottom: 1.4rem;

  font-size: 2.8rem;
  font-weight: 700;

  color: var(--color-text);
}

.form__group {
  position: relative;
  width: 100%;
}

.form__group:not(:first-child) {
  margin-top: 1.8rem;
}

.form__group input {
  display: block;

  width: 100%;

  padding: 1.6rem 4rem;
  font-size: 1.6rem;

  background-color: var(--color-dark);
  border-radius: 0.4rem;

  color: var(--color-text-dark);

  border: 2px solid transparent;

  caret-color: var(--color-primary);

  transition: 0.6s border-color cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form__group.form__group--secondary input {
  background-color: var(--color-dark-secondary);
}

.form__group input:focus {
  border-color: var(--color-primary-dark);
}

.form__group img {
  pointer-events: none;
  user-select: none;

  position: absolute;
  top: 50%;
  left: 1.6rem;

  transform: translateY(-50%);
}

.form__forgot {
  display: block;
  margin: 0.8rem 0;

  font-size: 1.4rem;
  color: var(--color-primary-dark);

  line-height: 1.4;

  font-weight: 600;
}

.form__forgot:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.form__button {
  width: 100%;
  margin-top: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.6rem;

  border-radius: 0.4rem;
  background-color: var(--color-primary-dark);
}

.form__button span {
  font-size: 1.6rem;
  text-transform: uppercase;

  font-weight: 700;
  color: var(--color-text);
}

.form__button .spinner:not(.open) {
  display: none;
}

.form__button:has(.spinner.open) span {
  font-size: 0;
}

.form__sign-up {
  display: block;

  margin-top: 1.4rem;

  font-size: 1.3rem;
  line-height: 1.4;

  color: var(--color-text-dark);

  text-align: center;
  opacity: 0.6;
}

.form__sign-up.back {
  position: relative;

  color: var(--color-text);
  font-weight: 500;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.4rem;

  margin-top: 3rem;
  padding-top: 3rem;

  opacity: 0.4;
}

.form__sign-up.back img {
  width: 1.4rem;
  height: 1.4rem;
}

.form__sign-up:hover {
  text-decoration: underline;
}
