* {
  --color-gray: #36363a;
  --color-dark-secondary: #202024;
  --color-dark: #121214;

  --color-primary-dark: #713ebd;
  --color-primary: #6d67e4;
  --color-red: hsl(0, 84%, 58%);
  --color-red-transparent: hsla(0, 84%, 58%, 0.2);

  --color-text: #f0f0f5;
  --color-text-dark: #d3d3d4;
  --color-text-very-dark: #aaaaaf;

  --color-text-very-dark: hsl(240, 3%, 68%, 0.4);

  --color-selection: hsla(234, 59%, 46%, 0.6);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin: 0;
  padding: 0;

  outline: none;
  border: none;

  font-family: 'Roboto', sans-serif;

  font-size: 62.5%; /* 10px */
}

@media (max-width: 1024px) {
  :root {
    font-size: 56.5%; /* 9px */
  }
}

@media (max-width: 980px) {
  :root {
    font-size: 50%; /* 8px */
  }
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

buttton:has(> img) {
  font-size: 0;
}

body {
  background-color: var(--color-dark);
}

*::selection {
  background-color: var(--color-selection);
}

*::-moz-selection {
  background-color: var(--color-selection);
}

img {
  pointer-events: none;

  display: block;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;

  object-fit: cover;
  object-position: center;

  -o-object-fit: cover;
  -o-object-position: center;
}

[data-id='app'] {
  --_app-padding: 1.6rem;

  width: 100%;
  max-width: 100%;

  padding: var(--_app-padding);

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.no-drag {
  pointer-events: none;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;

  -moz-window-dragging: no-drag;

  cursor: default;
}

.sr-only {
  pointer-events: none;
  user-select: none;

  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;

  font-size: 0;

  width: 0;
  height: 0;

  color: transparent;
  caret-color: transparent;
  accent-color: transparent;

  cursor: default;

  opacity: 0;
}
