<div class="modal modal-overlay" data-id="modal">
  <div class="modal__content sucesss-content">
    <h2 class="sucesss-content__title">Bem-vindo(a)</h2>
    <P class="sucesss-content__text">
      Começe a usar a plataforma agora mesmo! Faça login e descrubra as
      novidades.
    </P>

    <button
      class="sucesss-content__button button rounded"
      data-id="sucess-redirect"
    >
      Continuar
    </button>
  </div>
</div>
