<div class="toast" data-id="toast-container">
  <div class="toast-content" data-id="toast-percentage">
    <button class="toast-content__button" data-id="toast-button">
      <img src="/icons/close.svg" alt="Fechar conteúdo" />
    </button>
    <p class="toast-content__text" data-id="toast-text">
      Lorem ipsum dolor sit amet consectet ur.
    </p>
  </div>
</div>
